@{
    ViewData["Title"] = "Bracket";
}
@model FYP_Project.ViewModels.ResultsViewModel

<section id="Groups">
    <div class="section-title" data-aos="fade-up">
        <h2>Group Stage</h2>
    </div>
    <div class="container" data-aos="fade-up">
        <div class="row">

            <!-- Group A -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="section-title" data-aos="fade-up">
                        <h3>Group A</h3>
                    </div>
                    <table id="customers">
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Record</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>TUD Apes Vertigo</td>
                            <td>6-0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>UCD Leviathans A</td>
                            <td>5-1</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Trinity Ducks A</td>
                            <td>4-2</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>MTU Wraiths Delta</td>
                            <td>3-3</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>TUD Apes Team Horsepower</td>
                            <td>2-4</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>UL Esports B</td>
                            <td>1-5</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>MTU Wraiths Echo</td>
                            <td>0-6</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Group B -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="section-title" data-aos="fade-up">
                        <h3>Group B</h3>
                    </div>
                    <table id="customers">
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Record</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>UCC Epsilon</td>
                            <td>5-0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>UCD Leviathans A</td>
                            <td>5-1</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Trinity Ducks A</td>
                            <td>4-2</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>MTU Wraiths Delta</td>
                            <td>3-3</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>TUD Apes Team Horsepower</td>
                            <td>2-4</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>UL Esports B</td>
                            <td>1-5</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>MTU Wraiths Echo</td>
                            <td>0-6</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Group C -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="section-title" data-aos="fade-up">
                        <h3>Group C</h3>
                    </div>
                    <table id="customers">
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Record</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>TUD Apes Vertigo</td>
                            <td>6-0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>UCD Leviathans A</td>
                            <td>5-1</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Trinity Ducks A</td>
                            <td>4-2</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>MTU Wraiths Delta</td>
                            <td>3-3</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>TUD Apes Team Horsepower</td>
                            <td>2-4</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>UL Esports B</td>
                            <td>1-5</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>MTU Wraiths Echo</td>
                            <td>0-6</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- Group D -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="section-title" data-aos="fade-up">
                        <br />
                        <br />
                        <h3>Group D</h3>
                    </div>
                    <table id="customers">
                        <tr>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Record</th>
                        </tr>
                        @{
                            int d = 1;
                        }
                        @foreach (var record in Model.GroupD)
                        {
                            <tr>
                                <td>@d</td>
                                @foreach (var team in Model.Teams)
                                {
                                    if (record.TeamID == team.TeamID)
                                    {
                                        <td>@team.TeamName</td>
                                    }
                                }

                                <td>@record.Wins - @record.Losses</td>
                            </tr>
                            d = d + 1;
                        }
                        <!--
                        <tr>
                            <td>1</td>
                            <td>TUD Apes Vertigo</td>
                            <td>6-0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>UCD Leviathans A</td>
                            <td>5-1</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Trinity Ducks A</td>
                            <td>4-2</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>MTU Wraiths Delta</td>
                            <td>3-3</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>TUD Apes Team Horsepower</td>
                            <td>2-4</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>UL Esports B</td>
                            <td>1-5</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>MTU Wraiths Echo</td>
                            <td>0-6</td>
                        </tr>
                            -->
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="bracket">
    <div class="section-title" data-aos="fade-up">
        <h2>Playoffs</h2>
    </div>
    <div class="bracketContainer">
        <div class="split split-one">

            <div class="round round-two current">
                <div class="round-details">Round One<br /><span class="date">December 02 2021</span></div>
                <ul class="matchup">
                    <li class="bracketTeam team-top">TUD Apes Vertigo<span class="score">4</span></li>
                    <li class="bracketTeam team-bottom">UL Esports<span class="score">0</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">TUD Apes A+<span class="score">L</span></li>
                    <li class="bracketTeam team-bottom">Trinity Ducks A<span class="score">W</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">DCU Titans<span class="score">4</span></li>
                    <li class="bracketTeam team-bottom">MTU Wraiths Delta<span class="score">0</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">UCD Leviathans A<span class="score">W</span></li>
                    <li class="bracketTeam team-bottom">Queens Jesters<span class="score">L</span></li>
                </ul>
            </div>  <!-- END ROUND ONE -->

            <div class="round round-three current">
                <div class="round-details">Quater-Finals<br /><span class="date">January 13 2022</span></div>
                <ul class="matchup">
                    <li class="bracketTeam team-top">TUD Apes Vertigo<span class="score">&nbsp;</span></li>
                    <li class="bracketTeam team-bottom">Trinity Ducks A<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">DCU Titans<span class="score">&nbsp;</span></li>
                    <li class="bracketTeam team-bottom">UCD Leviathans A<span class="score">&nbsp;</span></li>
                </ul>
            </div>  <!-- END QUATERS -->
        </div>

        <div class="champion">
            <div class="semis-l">
                <div class="round-details">Semi-Finals <br /><span class="date">January 20 2022</span></div>
                <ul class="matchup championship">
                    <li class="bracketTeam team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    <li class="bracketTeam team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>
            <div class="final">
                <i class="fa fa-trophy"></i>
                <div class="round-details">Finals <br /><span class="date">January 27 2022</span></div>
                <ul class="matchup championship">
                    <li class="bracketTeam team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    <li class="bracketTeam team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>
            <div class="semis-r">
                <div class="round-details">Semi-Finals <br /><span class="date">January 20 2022</span></div>
                <ul class="matchup championship">
                    <li class="bracketTeam team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    <li class="bracketTeam team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>
        </div>


        <div class="split split-two">


            <div class="round round-three current">
                <div class="round-details">Quater-Finals<br /><span class="date">January 13 2022</span></div>
                <ul class="matchup">
                    <li class="bracketTeam team-top"><img src="~/img/uccRebels.png" width="20px" height="100%" /> UCC Epsilon<span class="score">&nbsp;</span></li>
                    <li class="bracketTeam team-bottom">NUIG Griffins<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">WIT Vikings<span class="score">&nbsp;</span></li>
                    <li class="bracketTeam team-bottom">QUB Monarchs<span class="score">&nbsp;</span></li>
                </ul>
            </div>  <!-- END ROUND QUATERS -->

            <div class="round round-two current">
                <div class="round-details">Round One<br /><span class="date">December 02 2021</span></div>
                <ul class="matchup">
                    <li class="bracketTeam team-top"><img src="~/img/uccRebels.png" width="20px" height="100%" /> UCC Epsilon<span class="score">4</span></li>
                    <li class="bracketTeam team-bottom">QUB White Tigers<span class="score">0</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">NUIG Griffins<span class="score">4</span></li>
                    <li class="bracketTeam team-bottom">Trinity Ducks B<span class="score">0</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">WIT Vikings<span class="score">4</span></li>
                    <li class="bracketTeam team-bottom">UCD Leviathans B<span class="score">0</span></li>
                </ul>
                <ul class="matchup">
                    <li class="bracketTeam team-top">QUB Monarchs<span class="score">4</span></li>
                    <li class="bracketTeam team-bottom">NCI Panthers<span class="score">0</span></li>
                </ul>
            </div>  <!-- END ROUND ONE -->
        </div>
    </div>
</section>