@{
    ViewData["Title"] = "Teams";
}
@model FYP_Project.ViewModels.TeamViewModel
<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row">

            @foreach (var team in Model.Teams)
            {
                @if (team.GameID == 0)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box iconbox-blue">
                            <div class="icon">
                                <img src="~/img/@team.ImageURL" style="width:100%;height:auto;" />
                            </div>
                            <h4><a href="">@team.TeamName</a></h4>
                            @foreach (var game in Model.Games)
                            {
                                if (game.GameID == team.GameID)
                                {
                                    <p>@game.GameName</p>
                                }
                            }
                        </div>
                    </div>
                }
            }

        </div>

    </div>
</section><!-- End Services Section -->
