@{
    ViewData["Title"] = "Player Stats";
    string name = ViewBag.name;
}
@model FYP_Project.ViewModels.TeamViewModel

<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        @Html.Hidden("name", @name)

        <div class="section-title" data-aos="fade-up">
            <h2>@name Stats</h2>
        </div>

        <table id="statsTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Player Name</th>
                    <th scope="col">Player Team</th>
                    <th scope="col">Games Played</th>
                    <th scope="col">Win %</th>
                    <th scope="col">Goals per Game</th>
                    <th scope="col">Assists per Game</th>
                    <th scope="col">Saves per Game</th>
                    <th scope="col">Average Score</th>
                    <th scope="col">Demos Inflicted per Game</th>
                    <th scope="col">Demos Taken per Game</th>
                    <th scope="col">Average Boost in Tank</th>
                    <th scope="col">Time Zero Boost</th>
                    <th scope="col">Amount Used While SuperSonic</th>
                    <th scope="col">Average Speed</th>
                    <th scope="col">Average Distance to Ball</th>
                </tr>
            </thead>
            <tbody class="statsTableBody">
            </tbody>
        </table>

        <img src="~/img/loading-circle.gif" id="loading" style="visibility: visible; width: 10%; margin-left: auto; margin-right: auto; display: block;" />

        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Boost statistics
                    </div>
                    <div style="height:550px; width:auto;">
                        <canvas id="boostChart" style="width:100%;height:100%;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        % Average Position on Field
                    </div>
                    <div style="height:550px; width:auto;">
                        <canvas id="averagePosisition" style="width:100%;height:100%;"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:500px; width:auto;">
            <canvas id="myChart" style="width:100%;height:100%;"></canvas>
        </div>

    </div>

    <!-- Datatable syling and functionality https://datatables.net/manual/installation -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css" />

    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <script src="~/js/playerStats.js"></script>

    <!-- chart.js script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</section>