@{
    ViewData["Title"] = "LogIn";
}
@model FYP_Project.ViewModels.PlayerViewModel
<!-- code for login page found here: https://startbootstrap.com/snippets/login -->

<section id="services" class="services section-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                        @using (var form = Html.BeginForm("LogIn", "LogIn", FormMethod.Post))
                        {

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.emailAddress, new { @class = "form-control", placeholder = "Email Address" })
                                <label for="floatingInput">Email address</label>
                            </div>

                            <div class="form-floating mb-3">
                                @Html.TextBoxFor(model => model.EditablePlayer.password, new { @class = "form-control", placeholder = "Password", type = "password" })
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                    Sign
                                    in
                                </button>
                            </div>

                            <a class="d-block text-center mt-2 small" asp-controller=LogIn asp-action=Register>New User? Register</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="~/css/LogIn.css" />

</section>
