@model FYP_Project.ViewModels.TeamViewModel
@{
    ViewData["Title"] = "Confirmation";
}

<!-- code for register page found here: https://startbootstrap.com/snippets/registration-page -->

<link rel="stylesheet" type="text/css" href="~/css/Extras.css" />

<section id="services" class="services section-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5"><b>Confirmation</b></h5>
                        <h5>Request has been sent to the team captain</h5>
                        <div class=" text-center">
                            <div class="text-center"><a asp-controller=Home asp-action=Index class="btn-get-started">Home</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <link rel="stylesheet" type="text/css" href="~/css/LogIn.css" />

</section>